* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.theme {
  width: 20%;
  background-color: black;
  color: aliceblue;
  box-shadow: 0 0 10px black;
}
.themeForBackground {
  background-color: black;
  color: aliceblue;
}
